.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.connectWalletButton {
  border: 1px solid;
  height: 56;
  width: 200px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
  margin-top: 30px;
  background-color: rgb(40, 40, 226);
  color: white
}
